*{
    margin:0;
    padding: 0;
}
.cabeçalho{
    background-color: #FFB84C;
    display: flex;
    justify-content: space-around;
}

.cabeçalho-imagem{
    width: 15%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 60px 20px;
    font-size: 24px;
}
.imagemprogramação{
    width: 35%;
    height: 55%;
}
.escola{
    background-image: linear-gradient(#FFB84C,#F5F5F5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px, 0px;
}
.divescola{
    width: 55%;
}
