*{
    margin:0;
    padding: 0;
}
.cabeçalho{
    background-color: #FFB84C;
    display: flex;
    justify-content:space-around;
}

.cabeçalho-imagem{
    width: 18%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 110px 20px 0px;
    font-size: 24px;
}
.imagemprogramação{
    width: 35%;
    height: 55%;
}
.escola{
    background-image: linear-gradient(#FFB84C,#F5F5F5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0px;
    font-size: 17px;
}
.divescola{
    width: 40%;
}
.escola-título{
    padding: 24px 0;
}
.divtítulocabeçalho{
    padding: 35px 50px;
    font-size: 18px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.imagemtrabalhoevelin{
    width: 300px;
}
.trabalhosdosalunostítulo{
    font-size: 24px;
}
.trabalho1div{
    text-align: center;
}