*{
    margin:0;
    padding: 0;
}
.cabeçalho{
    background-color: #FFB84C;
    display: flex;
    justify-content:space-around;
}

.cabeçalho-imagem{
    width: 18%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 110px 20px 0px;
    font-size: 24px;
}
.imagemprogramação{
    width: 35%;
    height: 55%;
}
.escola{
    background-image: linear-gradient(#FFB84C,#F5F5F5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 45px 0px;
    font-size: 17px;
}
.divescola{
    width: 40%;
}
.escola-título{
    padding: 24px 0;
}
.divtítulocabeçalho{
    padding: 35px 50px;
    font-size: 18px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.imagemtrabalhos{
    width: 250px;
    height: 175px;
}
.trabalhosdosalunostítulo{
    font-size: 24px;
    text-align: center;
    padding: 40px 0px;
}
.trabalhodiv{
    text-align: center;
}
.todosostrabalhos{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-gap: 35px;
    padding: 0px 0px 35px 0px;
}
.rodapé{
    background-color: black;
    text-align: center;
}
.imagemrodapé{
    height: 70px;
    padding: 12px 12px;
}
.trabalhosdosalunos{
    background-image: linear-gradient(#F5F5F5,#FFB84C);;
}